<%-  include ../src/lz-string.js  %>
document.getElementById("crossex_app").innerHTML= "<style type='text/css'>"+itg_decomp("<%=ext_styles%>")+"</style>"+"<div class='cc cc-page' id='crossex'>"+itg_decomp("<%=body%>")+"</div>";
var crossex_editor=false;
<%-  include ../src/inc/vega-core.min.js  %>
<%-  include ../src/inc/vega-embed-cc.js  %>

<%-  include crossex_base.js  %>
<%-  include crossex_ext.js  %>
<%-  include ../src/lib/pivot.js  %>
<%-  include ../src/lib/export_renderers.js  %>

